@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

:root {
  --bg-white: #ffffff;
  --purple: #7d5fff;
  --purple-dark: #6c4fff;
  --input-bg: #f3eefc;
  --title-color: #2b2837;
  --muted: #6b6b77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
  background-color: #6c4fff;
  color: white;
}

#title{
    text-align: center;
    font-size: x-large;
    margin-top: 20px;
    font-weight: bold;
    color: var(--spurple-dark);
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 3vh auto 0;
  width: 90%;
  max-width: 1000px;
  flex-wrap: wrap;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: #d8d6da;
  border-radius: 50px;
  padding: 5px 10px;
  flex: 1;
  min-width: 250px;
}

.search-input {
  border: none;
  background: transparent;
  padding: 10px 15px;
  flex: 1;
  outline: none;
  color: #333;
}

.search-btn {
  background: var(--purple);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: var(--purple-dark);
}

.add-btn {
  background: var(--purple);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: var(--purple-dark);
}

/* Responsivo */
@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    gap: 10px;
  }

  .add-btn {
    width: 100%;
  }
}
